#experience{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    scroll-margin-top: 5vh;
}

.xp-container{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    gap:1vh;
}

.xp-container .collapsible{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    gap:20px;
    border:none;
    outline:none;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom:1px solid rgba(255, 176, 193, 0.26);
    border-radius: 15px;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} 

.xp-container .collapsible-title{
    padding:2%;
    font-family: Alike;
    font-size:1.25rem;
    background:rgba(255, 176, 193, 0.26);
    color:var(--babyPink);
    border:none;
    outline:none;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.xp-container .collapsible-content{
    padding:0 4%;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
    gap:5%;
    text-align:left;
    font-size:1rem;
    line-height:1.5em;
    gap:20px;
}

.xp-container h3, 
.xp-container h4{
    margin:0; 
}

.skill {
    padding: 3% 0 5% 0;
    display:flex;
    flex-flow: row wrap;
    align-content:space-between;
    justify-content:flex-start;
    gap:5px 10px;
}

.skill .pill {
    background:var(--warm-carbon);
    color:var(--babyPink);
    padding:2px 12px;
    border-radius:16px;
    font-size:0.85rem;
}
