nav{
    height:30%;
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
    justify-items:flex-start;
    justify-content:space-evenly;
    background:linear-gradient(180deg, var(--babyPink) 0%, var(--lilac) 100%);
    background-clip:text;
}

.navTab, ButtonMailto{
    display: flex;
    font-size: calc(1.25rem + 1.25vmin);
    font-weight:700;
    color: rgba(255,255,255,0);
    text-decoration:none;
}

.navTab:hover {
    font-size:calc(2rem + 1.25vmin);
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: var(--mint);
    outline:none;
}

.navTab:active{
    font-size:3rem;
    font-weight:700;
    color: var(--mint);
    outline:none;
} 
