html{
  scroll-behavior: smooth;
}

@media only screen and (min-width:1280px){
  .App {
    display: flex;
    margin: 5% auto;
    width:80%;
    gap:10%;
    height:100vh;
    align-items: space-around;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction:row;
  }

  aside {
    flex: 1 0 400px;
    display:flex;
    justify-content:space-between;
  }

  #resume{
    justify-content: flex-end;
    color:#ffffff;
    font-size: 2rem;
    line-height:1.5em;
    flex: 4 1 auto;
  }

  .info{
    position: fixed;
    width: 400px;
    background: var(--deep-purple);
    z-index:2;
  }

  footer{
    align-self:end;
    color:var(--pearl);
  }
}


@media only screen and (max-width:1279px){
  .App {
    display: flex;
  }
}